body {
  font-family: "Open Sans", sans-serif;
}
.jumbotron {
  background-color: azure;
  color: black;
  text-align: center;
  padding: 10px;
}
input {
  width: 75%;
}
#city-list {
  width: 22rem;
}
#city-date-icon,
#city-name,
#current-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
h4 {
  font-weight: bold;
  margin: 5px;
}
#forecast-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.forecast {
  margin: 10px;
  padding: 10px;
}

img {
  opacity: 10px;
}

#sun-picture {
  width: 100%;
  height: 300px;
  background-image: url(../images/sun.jpg);
  background-size: 20%;
  opacity: 50%;
}
